# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

/public/sw.js
/public/robots.txt
/public/*.xml

# testing
coverage

# production
.next
.swc
_static
out
dist
build

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
.DS_Store
.vercel
.netlify
.unimportedrc.json
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*
tsconfig.tsbuildinfo
public/*.map
public/*.js

# Sentry Config File
.sentryclirc

# Ignore generated translation files
/locales/langs/translated/
/locales/langs/merged/

/locales/hashes/

# Ignore icons svg files
/components/icon-final/icons.ts
